extends ../_shared/_master
block content

    ul#all-locations.list-group
        each location in context
            li.list-group-item
                .card
                    if location.url
                        img.card-img-top.img-responsive.img-thumbnail(src='#{location.url}', alt='some location image')
                    else
                        img.card-img-top.img-responsive.img-thumbnail(src='static/images/location.jpg', alt='some location image')
                    .card-block
                        h4.card-title #{location.name}
                    ul.list-group.list-group-flush
                        li.list-group-item Climate: #{location.climate}
                        li.list-group-item Terrain: #{location.terrain}
                        li.list-group-item Surface Water: #{location.surface_water}


