extends ../_shared/_master
block content

    ul#all-vehicles.list-group
        each vehicle in context
            li.list-group-item
                .card
                    if vehicle.url
                        img.card-img-top.img-responsive.img-thumbnail(src='#{vehicle.url}', alt='some vehicle image')
                    else
                        img.card-img-top.img-responsive.img-thumbnail(src='/static/images/vehicle.jpeg', alt='some vehicle image')
                    .card-block
                        a(href='/vehicles/' + vehicle._id)
                            h4.card-title #{vehicle.name}
                        p.card-text
                            | #{vehicle.description}
                    ul.list-group.list-group-flush
                        li.list-group-item Vehicle Class: #{vehicle.vehicle_class}
                        li.list-group-item Length: #{vehicle.length}


