extends ../_shared/_master
block content

    ul#all-species.list-group
        each species in context
            li.list-group-item
                .card
                    if species.url
                        img.card-img-top.img-responsive.img-thumbnail(src='#{species.url}', alt='some species image')
                    else
                        img.card-img-top.img-responsive.img-thumbnail(src='/static/images/species.png', alt='some species image')
                    .card-block
                        a(href='/species/' + species._id)
                            h4.card-title #{species.name}
                    ul.list-group.list-group-flush
                        li.list-group-item Classification: #{species.classification}
                        li.list-group-item Eye Colors: #{species.eye_colors}
                        li.list-group-item Hair Colors: #{species.hair_colors}


