extends ../_shared/_master
block content
    .card
        if context.url
            img.card-img-top.img-responsive.img-thumbnail(src='/' + context.url, alt='some species image')
        else
            img.card-img-top.img-responsive.img-thumbnail(src='/static/images/species.png', alt='some species image')
        .card-block
            h4.card-title #{context.name}
        ul.list-group.list-group-flush
            li.list-group-item Classification: #{context.classification}
            li.list-group-item Eye Colors: #{context.eye_colors}
            li.list-group-item Hair Colors: #{context.hair_colors}
        a.films-details.pull-right(data-img="/static/images/ghibli.jpeg",
        data-url="/api/species/" + context._id + '/films',
        data-title="Films",
        style="font-size:24px;") Films
        a.people-details.pull-right(data-img="/static/images/person.jpg",
        data-url="/api/species/" + context._id + '/people',
        data-title="People",
        style="font-size:24px;") People

    include ../_shared/_modal

block scripts
    script(src="/static/js/details.js")