extends ../_shared/_master
block content
    .card
        if context.url
            img.card-img-top.img-responsive.img-thumbnail(src='/' + context.url, alt='some character image')
        else
            img.card-img-top.img-responsive.img-thumbnail(src='/static/images/person.jpg', alt='some character image')
        br
        ul.list-group.list-group-flush
            li.list-group-item Character name: #{context.name}
            li.list-group-item Gender: #{context.gender}
            li.list-group-item Age: #{context.age}
            li.list-group-item Eye Color: #{context.eye_color}
            li.list-group-item Hair Color: #{context.hair_color}