extends ../_shared/_master
block content

    ul#all-films.list-group
        each film in context
            li.list-group-item
                .card
                    if film.url
                        img.card-img-top.img-responsive.img-thumbnail(src='#{film.url}', alt='some film image')
                    else
                        img.card-img-top.img-responsive.img-thumbnail(src='/static/images/film.png', alt='some film image')
                    .card-block
                        a(href='/films/' + film._id)
                            h4.card-title #{film.title}
                        p.card-text
                            | #{film.description}
                    ul.list-group.list-group-flush
                        li.list-group-item Director: #{film.director}
                        li.list-group-item Producer: #{film.producer}
                        li.list-group-item Release Date: #{film.release_date}


