extends ../_shared/_master
block content
    .card
        if context.url
            img.card-img-top.img-responsive.img-thumbnail(src='/' + context.url, alt='some film image')
        else
            img.card-img-top.img-responsive.img-thumbnail(src='/static/images/film.png', alt='some film image')
        .card-block
            h4.card-title.film-title #{context.title}
            p.card-text #{context.description}
        ul.list-group.list-group-flush
            li.list-group-item Director: #{context.director}
            li.list-group-item Producer: #{context.producer}
            li.list-group-item Release Date: #{context.release_date}
        a.comment-film(href='/films/' + context._id + '/comment')
            span.glyphicon.glyphicon-comment
        a.rate-film(href='/films/' + context._id + '/rate')
            span.glyphicon.glyphicon-star
    br

    if context.comments
        include ../_shared/_comments
        
block scripts
    script(src="/static/js/film-smooth-scroll.js")
